<!-- Slide Menu-->
<aside class="side-menu__container" [ngClass]="{'side-menu__container-active': showMenu}" (click)="toggleMenu()">
  <nav class="slide-menu" [ngClass]="{'slide-menu-active': showMenu, 'slide-menu-active-dark': darkModeActive}"
       (click)="$event.stopImmediatePropagation();">
    <section class="menu-header" [ngClass]="{'menu-header-dark': darkModeActive}">
      <span class="greeting__text">Welcome Back</span>
      <div class="profile-image__container">
        <img src="https://www.jamf.com/jamf-nation/img/default-avatars/generic-user-purple.png" alt="profile-image"
             class="profile__image">
      </div>
      <div class="account-details">
        <span class="name__text">{{userEmail}}</span>
        <span class="email__text">Free Plan</span>
      </div>
    </section>
    <section class="menu-body">
      <ul class="menu-links" [ngClass]="{'menu-links-dark': darkModeActive}">
        <li class="menu-link" [routerLinkActiveOptions]="{exact:true}" routerLink="" routerLinkActive="link-active" (click)="toggleMenu()">Home</li>
        <li class="menu-link" [routerLinkActiveOptions]="{exact:true}" routerLink="/add" routerLinkActive="link-active" (click)="toggleMenu()">Add City</li>
        <li (click)="logout()" class="menu-link">Logout</li>
      </ul>
    </section>
    <section class="menu-footer">

      <small class="copyright__text">Copyright © 2019 Minimus</small>
    </section>
  </nav>
</aside>

<main class="root__container" [ngClass]="{'root__container-dark': darkModeActive}">
  <header [ngClass]="{'main__header-dark': darkModeActive}" class="main__header" *ngIf="loggedIn | async">

    <div class="left__section">
      <svg (click)="toggleMenu()" class="hamburger__icon" id="Menu_Burger_Icon" data-name="Menu Burger Icon"
           viewBox="31.5 30 49.9 32">
        <defs>
          <style>.hamburger__icon__fill {
            fill: #594e78
          }</style>
        </defs>
        <rect id="Rectangle_9" width="49.9" height="4" [ngClass]="{'hamburger__icon__fill-dark': darkModeActive}"
              class="hamburger__icon__fill" data-name="Rectangle 9" rx="2"
              transform="translate(31.5 58)"></rect>
        <rect id="Rectangle_10" width="49.9" height="4" [ngClass]="{'hamburger__icon__fill-dark': darkModeActive}"
              class="hamburger__icon__fill" data-name="Rectangle 10" rx="2"
              transform="translate(31.5 44)"></rect>
        <rect id="Rectangle_11" width="49.9" height="4" [ngClass]="{'hamburger__icon__fill-dark': darkModeActive}"
              class="hamburger__icon__fill" data-name="Rectangle 11" rx="2"
              transform="translate(31.5 30)"></rect>
      </svg>

      <svg class="logo__icon" viewBox="150.3 22.2 213.7 42.8">
        <path fill="#00ff9b" d="M150.3 65V22.2L193 65z" data-name="Path 1"></path>
        <path fill="#003eff" d="M193.1 65h-42.8L193 22.2z" data-name="Path 2"></path>
        <text [ngClass]="{'logo__text-dark': darkModeActive}" class="logo__text" fill="#432c85"
              font-family="SegoeUI-Semibold,Segoe UI" font-size="30" font-weight="600"
              letter-spacing=".1em" transform="translate(220 56)">
          <tspan x="0" y="0">Minimus</tspan>
        </text>
      </svg>

    </div>

    <h3 class="date__text">Today</h3>


    <div class="mode-toggle__container">
      <span class="mode-toggle__text">Light</span>

      <label class="toggle-button__container">
        <input (click)="modeToggleSwitch()" type="checkbox" class="mode-toggle__input"/>
        <span [ngClass]="{'mode-toggle__bg-checked': darkModeActive}" class="mode-toggle__bg"></span>
        <span [ngClass]="{'mode-toggle__circle-checked': darkModeActive}" class="mode-toggle__circle"></span>
      </label>


      <span class="mode-toggle__text">Dark</span>
    </div>

  </header>

  <!-- Main Content -->

  <div class="main-container__bg">
    <router-outlet></router-outlet>
  </div>


</main>
