.root__container {
  width: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
  flex-flow: column;
  transition: background 300ms linear;
  background-image: linear-gradient(to top, #5ee7df 0%, #66a6ff 100%);
}

.root__container-dark {
  /*background: linear-gradient(to top, #30cfd0 0%, #330867 100%);*/
  background: linear-gradient(to bottom, #372865, #000000);
}

/*
================
    Header
================
*/

/*
    Slide Menu
= = = = = = = = =
*/
.side-menu__container {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  overflow: hidden;
  pointer-events: none;
  z-index: 50;
}

.side-menu__container-active {
  pointer-events: auto;
}

.side-menu__container::before {
  content: '';
  cursor: pointer;
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #0c1066;
  opacity: 0;
  transition: opacity 300ms linear;
  will-change: opacity;
}

.side-menu__container-active::before {
  opacity: 0.3;
}

.slide-menu {
  box-sizing: border-box;
  transform: translateX(-200%);
  position: relative;
  top: 0;
  left: 0;
  z-index: 50;
  min-height: 100vh;
  width: 90%;
  max-width: 26rem;
  background-color: white;
  box-shadow: 0 0 2rem rgba(0, 0, 255, 0.1);
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 2fr 4fr 1fr;
  grid-gap: 1rem;
  transition: transform 300ms linear;
  will-change: transform;
}

.slide-menu-active {
  transform: none;
}

.slide-menu-active-dark {
  background-color: #2B244D;
}

.menu-header {
  background: linear-gradient(to right, #00FF9B, #5f84fb);
  display: grid;
  grid-template-rows: 1fr 4fr;
  grid-template-columns: 1fr 4fr;
  grid-template-areas: "greeting greeting" "image details";
  box-sizing: border-box;
  width: 100%;
  align-content: center;
  color: white;
  box-shadow: 0 0.5rem 2rem rgba(0, 0, 255, 0.2);
}

.menu-header-dark {
  background: linear-gradient(to top, #30cfd0 0%, #330867 100%);
}

.greeting__text {
  grid-area: greeting;
  font-size: 1.25rem;
  letter-spacing: 0.15rem;
  text-transform: uppercase;
  margin-top: 1rem;
  justify-self: center;
  align-self: center;
}

.account-details {
  grid-area: details;
  display: flex;
  flex-flow: column;
  margin-left: 1rem;
  align-self: center;
}

.name__text {
  font-size: 1.15rem;
  margin-bottom: 0.5rem;
}

.email__text {
  font-size: 0.9rem;
  letter-spacing: 0.1rem;
}

.menu-body {
  display: grid;
  width: 100%;
}

.menu-links {
  display: flex;
  flex-flow: column;
  list-style: none;
}
.menu-links-dark {
  color: white;
}

.link-active {
  color: #495CFC;
  border-bottom: 1px solid #495CFC;
}

.menu-link {
  outline: none;
  font-size: 1rem;
  padding: 1rem 0;
  margin: 0.5rem 0;
  cursor: pointer;
}

.profile-image__container {
  grid-area: image;
  margin-right: 0.5rem;
  border-radius: 50%;
  height: 4rem;
  width: 4rem;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  align-self: center;
  margin-left: 2rem;
}

.profile__image {
  max-width: 4rem;
}

/*Header*/
.main__header {
  background-color: #fff;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 0.25fr;
  box-shadow: 0 0 2rem rgba(0, 0, 255, 0.1);
  margin: 0;
  min-height: 4rem;
  align-items: center;
  animation: slidedown 0.5s ease-in-out, fadein 1s ease-in-out;
}

.main__header-dark {
  background-color: #2B244D;
  color: white;
}

.toggle-button__container {
  cursor: pointer;
  position: relative;
  margin: 0 0.75rem 0 0.25rem;
  display: inline-flex;
}

.mode-toggle__container {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
}

.mode-toggle__input {
  -webkit-appearance: none;
  -moz-appearance: none;
}

.mode-toggle__bg {
  height: 1rem;
  width: 2rem;
  border-radius: 0.5rem;
  background-color: rgba(0, 0, 0, 0.5);
  display: inline-block;
  transition: background-color 300ms linear;
}

.mode-toggle__circle {
  height: 1.30rem;
  width: 1.30rem;
  background-color: #2B244D;
  position: absolute;
  top: -0.18rem;
  border-radius: 50%;
  box-shadow: 0 0 0 rgba(0, 0, 255, 0.5);
  transition: left 300ms linear;
  left: 0.2rem;
}

.mode-toggle__circle-checked {
  background-color: white;
  left: 1.5rem;
}

.mode-toggle__bg-checked {
  background-color: #FF0070;
}

.mode-toggle__text {
  font-size: 0.75rem;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
}

/*Content*/
.left__section {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr 1fr;
  max-width: 5rem;
}

.date__text {
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  display: inline;
  margin: 0.5rem 0;
}

/*SVGs*/
.hamburger__icon {
  position: relative;
  z-index: 50;
  height: 1rem;
  padding: 0.5rem 1.5rem;
  margin-right: 1rem;
  cursor: pointer;
}

.logo__icon {
  height: 2rem;
  margin-left: 1rem;
}

.logo__text {
  fill: #2B244D;
}

.logo__text-dark {
  fill: #ffff;
}

.hamburger__icon__fill {
  fill: #2B244D;
}

.hamburger__icon__fill-dark {
  fill: #ffff;
}

/*
================
    Body
================
*/
.main-container__bg {
  min-height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.copyright__text {
  display: block;
  text-align: center;
}

/* Media Query:   LT-MD   */
@media screen and (max-width: 959px) {
  .main__header {
    grid-template-columns: 1fr;
    justify-items: center;
    padding: 1rem 0;
    min-height: 8rem;
  }

  .left__section {
    justify-self: start;
    max-width: none;
    grid-template-columns: 0 5fr;
    width: 100%;
  }

  .logo__icon {
    margin: 0 auto;
  }

  .hamburger__icon {
    margin-right: 0;
  }

  .menu-header {
    display: flex;
    flex-wrap: wrap;
    flex-flow: column;
    align-items: center;
    justify-content: space-around;
  }
}

@media only screen and (max-width: 300px) {
  .slide-menu {
    width: 100%;
  }
}



