/*Home Layout*/
.main__container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  min-height: 90vh;
  position: relative;
}

/*.clouds {*/
/*position: absolute;*/
/*z-index: 0;*/
/*height: 10rem;*/
/*right: -20rem;*/
/*animation: moveacross 45s infinite;*/
/*}*/

/*@keyframes moveacross {*/
/*100% {*/
/*right: 100vw;*/
/*}*/
/*}*/
